* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /* background-image: url("./images/backgroundwallet.jpg"); */
}

.container::after {
  content: "";
  background-image: url("./images/backgroundwallet.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(174, 218, 175);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 10px;
  box-shadow: 7px 5px 5px darkgrey;
  width: 30vw;
  padding: 50px;
  margin: 25vh auto;
}

.title-header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 30px;
}

img {
  width: 60px;
  align-self: center;
  margin-bottom: 30px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

input {
  outline: none;
}

.login-input-form {
  margin: 10px auto 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 8px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.login-input-form:hover {
  box-shadow: 5px 5px 8px rgb(182, 182, 182);
}

.login-btn-entrar {
  font-size: 16px;
  font-weight: bold;

  align-self: center;
  width: 80px;

  color: #FFFFFF;
  background-color: #19bd63;

  border: solid 1px rgb(179, 179, 179);
  border-radius: 10px;

  padding: 10px;
}

.login-btn-entrar:hover {
  background-color: rgb(99, 238, 123);
}

.login-btn-entrar:active {
  background-color: #12944d;
}
